.left h3{
    text-align: right;
    justify-content: center;
    font-family: sans-serif;
    margin-top: 200px;
}
.left h1{
    text-align: right;
    justify-content: center;
    font-family: sans-serif;
}
.left p{
    
    text-align: right;
    justify-content: center;
    font-family: sans-serif;
}
.left ul li{
    font-size: 20px;
    text-align: right;
    justify-content: center;
    list-style: none;
    font-family: sans-serif;
}
.left ul li p{
    font-size: 12px;
    font-family: sans-serif;
}
.image{
    margin-top: 0px;
    padding: 0;
    height: 100vh;
    width: 800px;
    background-image: url("https://media.istockphoto.com/id/1176428256/photo/business-coworkers.jpg?s=612x612&w=0&k=20&c=3lgrohiH-1Vm0CztGGuK9YJKsciFSGtUgZ9S2giQ-P4=");
    background-repeat: no-repeat;
    overflow: none;
    background-position: center;
    background-size: contain;
}